*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
html,body{
    height:100%;
}
body{
    background-color: #E3E3E3;
}
h3{
    margin-top:8px;
    color: #6C7A89;
}
.intro{
    margin-top:8px;
    margin-bottom: 8px;
    font-size:11px;
    color:#6C7A89;
}
ul,ol{
    list-style-position: inside;
}
header{
    height:60px;
    background-color:#263849;
    font-size: 15px;
}
header img{
    float:left;
}
header a{
    text-decoration: none;
    color:#ffffff;
}
header ul{
    float:right;
    line-height: 60px;
    list-style-type:disc;
    text-align: center;
}
header li{
    display:inline-block;
    padding-right:1em;
}
#main{
    position:relative;
    width:100%;
    overflow:auto;
    border:1px solid red;
}
/*#main:before{*/
    /*content:"";*/
    /*display:table;*/
/*}*/
/*#main:after{*/
    /*content:"";*/
    /*display:table;*/
    /*clear:both;*/
    /**zoom:1;*/
/*}*/
#leftside{
    float:left;
    top:0;
    margin-right:360px;
}
#rightside{
    position:absolute;
    right:10px;
    top:20px;
    width:350px;
    background-color:#ffffff;
    box-shadow: 3px 3px 3px #41506B;
}

.section{
    width:98%;
    margin:20px auto;
    background-color:#ffffff;
    box-shadow: 3px 3px 3px #41506B;
    border:1px solid #ffffff;
}
.content{
    width:98%;
    margin:30px auto;
}
.para{
    text-indent: 2em;
}
#listpro{
    margin-left:4em;
    list-style-type:none;
}
.content3{
    overflow: auto;
}
.sets{
    float:left;
    border:1px solid #6C7A89;
    width:150px;
    text-align: center;
    margin:10px auto 20px 30px;
}
ol{
    margin: auto auto 1em 2em;
}
ol li{
    font-size:16px;
}
#table1{
    border-collapse:collapse;
    width:inherit;
    text-align: left;
}
caption{
    text-align: left;
}
thead{
    background-color: #263849;
    color:#ffffff;
}
tfoot{
    background-color: #E0E7E9;
}

span{
    padding:0 2px;
}

[type='submit']{
    display:block;
    background-color: #2657C1;
    height:35px;
    width:320px;
    color:#ffffff;
    font-size: 18px;
    margin:15px auto;
    border-radius:5px;
    border:none;
    text-align: center;
}
#navigator{
    margin: 10px auto 10px auto;
    font-size:15px;
}
#navtitle{
    border-collapse: separate;
    border-left:4px solid #6C7A89;
    margin-top:15px;
    margin-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
}
#navigator td:first-child{
    text-align: right;
    padding:8px;
}
footer{
    background-color: #233142;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#ffffff;
}
