*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
html,body{
    height:100%;
}
/*body{*/
    /*-webkit-align-items: center;*/
    /*-ms-flex-align:center;*/
    /*align-items: center;*/
    /*display:-webkit-flex;*/
    /*display:flex;*/
/*}*/
#out{
    /*position: relative;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:1200px;
    height:1000px;
    border:1px solid red;
}
#greybox{
    position:relative;
    width:800px;
    height:800px;
    margin-right:auto;
    margin-left:auto;
    background-color:#ccc;
    overflow: hidden;
}
#leftup,#rightdown{
    width:100px;
    height:100px;
   -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #fc0;
}
#leftup{
    margin-top:-50px;
    margin-left:-50px;
}
#rightdown{
    position:absolute;
    right:-50px;
    bottom:-50px;
}