*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
html,body{
    height:100%;
}
#whole{
    width:980px;
    height:1386px;
    margin:0 auto;
}
header{
    position:relative;
    width:892px;
    height:63px;
    margin:0 auto;
    border-bottom:2px solid #938e8c;
}
#logo{
    position: absolute;
    top:0;
    left:0;
    width:110px;
    height:61px;
    background-color:#d45d5c;
    text-align: center;
    padding-top:43px;
    font-family:SimHei;
    color:#fff;
    font-size:12px;
}
.littleMark{
    position:absolute;
    right:0;
    bottom:0;
    font-family:SimHei;
    color:#d45d5c;
    font-size:12px;
}
#intro{
    position:relative;
    width:892px;
    height:301px;
    margin:30px auto;
 }
#introImg{
    float:left;
    top:0;
    left:0;
    width:641px;
    height:301px;
}
#leftImg{
    position:absolute;
    top:0;
    left:0;
    background-color:#75b86b;
    width:191px;
    height:301px;
    opacity:0.4;
    -moz-opacity: 0.4;
    z-index:2;
}
#rightImg{
    position:absolute;
    top:0;
    left:450px;
    background-color:#d45d5c;
    width:191px;
    height:301px;
    opacity:0.4;
    -moz-opacity: 0.4;
    z-index:2;
}
#introWord{
    float:right;
    top:0;
    right:0;
    height:301px;
    width:203px;
    border-top:2px solid #cc8091;
}
.introTitle{
    text-decoration:underline;
    color:#000000;
    font-family:"Microsoft YaHei UI";
}
.introTitle p{
    font-size:20px;
}
.introTitle span{
    font-size:24px;
}
#introinf{
    font-size:12px;
    color:#676767;
    font-family:Kaiti;
}
#num{
    font-size:116px;
    color:#75b86b;
    font-family:"Microsoft YaHei UI";
    margin-left:-20px;
    font-style: italic;
}
#introDown{
    width:inherit;
    color:#cc8091;
    font-family: "Microsoft YaHei UI";
    overflow: hidden;
}
#introDL{
    float:left;
    font-size:55px;
}
#introDR{
    float:left;
    margin-top:17px;
    margin-left:10px;
}
#DR1{
    font-size:21px;
}
#DR2{
    font-size:12px;
}
#whatwhenhow{
    width:892px;
    margin:10px auto;
    overflow: hidden;
}
.wwh{
    float:left;
    margin-right: 20px;
}
.what{
    width:220px;
}
.when{
    width:200px;
}
.how{
    width:181px;
}
.wwhtitle{
    font-size: 16px;
    text-decoration: underline;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    padding-bottom: 10px;
}
.tit1{
    color: #418c59;
}
.tit2{
    color:#d2994f;
}
.tit3{
    color:#cc7680;
}
.wwhcon{
    font-size:12px;
    color:#767777;
    font-family: SimSun-ExtB;
    margin-bottom:16px;
}
.hdown{
    font-size: 12px;
    color:#231815;
    font-family: "Microsoft YaHei UI";
    padding-bottom:16px;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.hdown span{
    color:#cd4a48;
    font-style: italic;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
#tech{
    width:892px;
    margin:30px auto;
    padding-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #938e8c;
}
#leftTech{
    float:left;
    width:415px;
}
#leftTechTitle{
    border-bottom: 2px solid #11456b;
}
#leftTechTitle p{
    font-family: SimHei;
    font-weight: bold;
    color:#11456b;
    font-size:33px;
}
#leftTechTitle p:first-child{
    font-size:42px;
}
#leftTechTitle p:first-child+p{
    margin-bottom:16px;
}

#leftTechTitle span{
    font-style: italic;
    font-size:72px;
    color:#f5e327;
    padding-right:20px;
}
#leftTechArticle{
    margin-top:10px;
    position:relative;
    overflow: visible;
}
#leftTechArticle p{
    font-family: SimSun-ExtB;
    font-size:12px;
    color:#767777;
}
#leftTechArticle p:first-child~p{
    text-indent:24px;
}
#leftTechArticle p:first-child:first-letter{
    float:left;
    font-family: "Microsoft YaHei UI";
    font-size:70px;
    color:#f5e327;
    text-transform:uppercase;
    padding-right:10px;
}
#leftTechArticle img{
    float:right;
    width:150px;
    height:230px;
    margin:10px;
}
#rightTech{
    float:right;
    width:460px;
}
#Tech1{
    position:relative;
    width:458px;
    height:275px;
}
#Tech1down{
    position:absolute;
    bottom:0;
    height:61px;
    width:458px;
    background-color:#455D7A ;
    opacity:0.8;
    -moz-opacity: 0.8;
}
#tdcon{
    height:44px;
    width:300px;
    border-left:3px solid #72b16a;
    font-family: "Microsoft YaHei UI";
    margin:10px auto;
    z-index:3;
    word-spacing:140%;
}
#tdcon p{
    color:#ffffff;
    font-size:26px;
    padding:5px 15px;
}
#tdcon span{
    color:#72b16a;
    font-size:12px;
    font-style: italic;
    padding-left:15px;
}
#Tech2{
    width:459px;
    height:318px;
    background-color:#DDDDBB;
    margin:30px auto 0 auto;
}

#upTech2{
    text-align: left;
}
#upTech2 p{
    margin-top:-8px;
    padding-left:40px;
    padding-bottom:19px;
    font-size: 16px;
    color:#5a5b5b;
    font-family: SimSun-ExtB;
}
#upTech2 span{
    font-size:12px;
    color:#5a5b5b;
    font-style: italic;
    text-align: right;
}
.triangle{
    margin-left:20px;
    margin-bottom:100px;
    border:8px solid transparent ;
    border-bottom-color:midnightblue;
}
#downTech2{
    popsition:relative;
    height:160px;
    overflow: hidden;
}
#leftdt{
    float:left;
    width:260px;
    height:160px;
    background-color:#F95959;
}
#number{
    position:relative;
    height:86px;
    width:260px;
    margin:35px auto;
}
#zero{
    position:absolute;
    top:-30px;
    left:10px;
    font-size: 110px;
    color:#ffffff;
    font-family: "Microsoft YaHei UI";
}
#onetwoth{
    height:86px;
    margin-left:80px;
    border-left:2px solid #ffffff;
    font-family: SimHei;
    color:#ffffff;
}
#big{
    font-size: 21px;
    font-style: italic;
    margin-bottom:6px;
    padding-left:10px;
}
#small{
    font-size:12px;
    padding-left:10px;
}
#rightdt{
    float:right;
    position:relative;
    width:180px;
    margin-left: 10px;
    font-family: SimHei;
    text-align: left;
}
#rightdt p{
    position:absolute;
    font-size: 14px;
    color:#5a5b5b;
    font-style: italic;
    top:16px;
    text-indent:42px;
    z-index: 2;
}
#leftsign{
    font-size:72px;
    color:#d45d5c;
    position:absolute;
    left:-40px;
}
#rightsign{
    position:absolute;
    font-size:72px;
    color:#d45d5c;
    right:-20px;
    top:98px;
}
#logo2{
    margin-top:-30px;
    text-align: right;
    padding-right:50px;
    margin-right:0;
    font-family:SimHei;
    color:#d45d5c;
    font-size:12px;
}
