*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    border:1px solid #999;
}
html,body{
    width: 100%;
    border:none;
}

/*绝对定位*/
#browser{
    position:absolute;
    top:20px;
    left:20px;
    width:1000px;
    padding:20px;
    margin:30px;
    background-color: #eee;
}
#left{
    position:absolute;
    top:20px;
    left:20px;
    width:200px;
    text-align: center;
    padding:20px;
}
#left img{
    display: block;
    margin-top:-20px;
}
#left p{
    border:none;
    text-align: right;
}
#random{
    position:absolute;
    top:20px;
    padding:20px;
    margin:0px 160px auto 220px;
}
#random p{
    text-indent: 20px;
    word-wrap: break-word;
    border:none;
}
#right{
    /*position:absolute;*/
    /*top:20px;*/
    /*right:20px;*/
    width:120px;
    padding:20px;
    text-align: center;
    margin:0px 0px 0px auto;
}
#right ul{
    border:none;
}
#right li{
    list-style: none;
    border:none;
    padding-top:20px;
}
#right li:first-child{
    padding-top:0;
}


/*浮动方法float*/
/*#browser{*/
    /*position:absolute;*/
    /*top:20px;*/
    /*left:20px;*/
    /*width:1000px;*/
    /*margin:30px;*/
    /*padding:20px;*/
    /*background-color: #eee;*/
/*}*/
/*#left{*/
    /*float:left;*/
    /*width:200px;*/
    /*text-align: center;*/
    /*padding:20px;*/
/*}*/
/*#left img{*/
    /*display: block;*/
    /*margin-top:-20px;*/
/*}*/
/*#left p{*/
    /*text-align: right;*/
    /*border:none;*/
/*}*/
/*#right{*/
    /*float:right;*/
    /*width:120px;*/
    /*text-align: center;*/
    /*padding:20px;*/
/*}*/
/*#right ul{*/
    /*border:none;*/
/*}*/
/*#right li{*/
    /*list-style: none;*/
    /*padding-top: 20px;*/
    /*border: none;*/
/*}*/
/*#right li:first-child{*/
    /*padding-top:0px;*/
/*}*/
/*#random{*/
    /*margin-right:140px;*/
    /*margin-left:220px;*/
    /*padding:20px;*/
/*}*/
/*#random p{*/
    /*word-wrap: break-word;*/
    /*text-indent: 20px;*/
    /*border:none;*/
/*}*/